# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
.cache
.tox
.noscript
.nox
.virtualenv
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Node/Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache

# Databases
*.db
*.sqlite
postgres_data/
redis_data/

# OS/System
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
